{
  "extends": "airbnb-base/legacy",
  "rules": {
    "func-names": ["warn", "as-needed"],
    "indent": ["error", 2],
    "space-before-function-paren": ["error", {
        "anonymous": "never",
        "named": "never",
    }],
    "no-console": 0,
    "no-else-return": 1,
    "no-multi-spaces": ["error", { ignoreEOLComments: true }],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-underscore-dangle": ["error", { allowAfterThis: true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-param-reassign": 0,
    "no-restricted-globals": 1,
    "no-unused-vars": 1,
    "vars-on-top": 1,
    "comma-dangle": ["error", "always-multiline"],
    "no-undef": 1,
    "no-use-before-define": 1,
    "no-debugger": 0,
    "no-new": 1,
  },
  "env": {
    "jasmine": true
  }
}
