include /_mixins

doctype html
html
  head
    title= Trello
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(rel='stylesheet', href='bower_components/dragula.js/dist/dragula.css')
  body
    header.main-header
    main
      header.board-overview
      div.board-content
        section.lists
        button.add-list Add to list...
      block content
    
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/handlebars/handlebars.js")
    script(src="/bower_components/backbone/backbone.js")
    script(src="/bower_components/backbone/backbone.js")
    script(src="/bower_components/dragula.js/dist/dragula.js")
    +javascript_include_tag("application")
    +javascript_include_tag("templatesCompiled")
    +javascript_include_tag("views/baseView")
    +javascript_include_tag("views/header")
    +javascript_include_tag("views/content")
    +javascript_include_tag("views/overview")
    +javascript_include_tag("views/searchModal")
    +javascript_include_tag("models/list")
    +javascript_include_tag("models/card")
    +javascript_include_tag("collections/lists")
    +javascript_include_tag("collections/cards")
    +javascript_include_tag("views/lists/list")
    +javascript_include_tag("views/lists/lists")
    +javascript_include_tag("views/lists/new")
    +javascript_include_tag("views/cards/card")
    +javascript_include_tag("views/cards/cards")
    +javascript_include_tag("views/cards/new")
    +javascript_include_tag("views/cards/detail")
    +javascript_include_tag("views/cards/editTitle")
    +javascript_include_tag("views/cards/editDescription")
    script(type="text/javascript").
      App.Lists = new ListsCollection(!{ JSON.stringify(listsCollection) });
      var cardsData = !{ JSON.stringify(cardsCollection) };
      App.Lists.models.forEach(function(list) {
        list.Cards.reset(cardsData[list.get('id')]);
      });
      App.init();
