include /_mixins

doctype html
html
  head
    title= Trello
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/handlebars/handlebars.js")
    script(src="/bower_components/backbone/backbone.js")
  body
    h1 Express
    p Hello world
    
    
    block content
