include /_mixins

doctype html
html
  head
    title= Trello
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/handlebars/handlebars.js")
    script(src="/bower_components/backbone/backbone.js")
  body
    header.main-header
    main
      header.board-header
      section.board-content
      
      block content
    
    +javascript_include_tag("application")
    +javascript_include_tag("templatesCompiled")
    +javascript_include_tag("views/header")
    script.
      App.init()
