include /_mixins

doctype html
html
  head
    title= Trello
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/handlebars/handlebars.js")
    script(src="/bower_components/backbone/backbone.js")
  body
    header.main-header
    main
      header.board-header
      section.board-content
      
      block content
    
    +javascript_include_tag("application")
    +javascript_include_tag("templatesCompiled")
    +javascript_include_tag("views/header")
    script.
      App.init()
