<textarea class="card-edit-description-container-textarea" cols="33" rows="7" name="description" placeholder="Add a description...">{{description}}</textarea>
<fieldset class="controls">
  <input class="button button-confirm" type="submit" value="Save">
  <button class="button button-cancel">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</fieldset>
