<div class="left-group">
  <div class="back-button">Back
  </div>
  <div class="search">Search
  </div>
</div>

<a href="/">
  <span class="logo">Trello</span>
</a>

<div class="right-group">
  <div class="plus-button">+
  </div>
  <div class="notifications">
  </div>
  <div class="user-badge">D
  </div>
</div>
