<div class="left-group">
  <div class="header-button header-md back-button">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <div class="header-button search">
    <input class="search-input" type="text">
  </div>
</div>

<a class="logo" href="/">
  <span class="logo-icon"></span>
</a>

<div class="right-group">
  <div class="header-button header-md plus-button">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
  <div class="header-button header-md notifications">
    <i class="fa fa-bell" aria-hidden="true"></i>
  </div>
  <div class="header-button header-md user-badge">D
  </div>
</div>
