<textarea class="new-card-textarea" cols="33" rows="4" name="title"></textarea>

<fieldset class="controls">
  <input class="button button-confirm" type="submit" value="Add">
  <button class="button button-cancel">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</fieldset>
