<input class="new-list-input" name="title" placeholder="Add a list...">

<fieldset class="controls">
  <input class="button button-confirm" type="submit" value="Add">
  <button class="button button-cancel">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</fieldset>
