<div class="result-row">
  <div class="result-button">
    <p>{{title}}</p>
  </div>
  <div class="result-detail">
    <p class="result-title">{{title}}</p>
    <p class="result-info">
      in <span class="bold">{{listTitle}}</span> on <span class="bold">My Board</span>
    </p>
  </div>
</div>
