@import url('whitespace-reset.css');

/* Global styles */

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 121, 191);
  margin: 0
}

body,
textarea,
input,
button {
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  border: none;
}

h2 { font-size: 18px; }

/* Header */

.main-header {
  background: #026AA7;
  display: flex;
  width: 100%;
  height: 40px;
  color: white;
  justify-content: space-between;
  padding: 5px 8px;
}

.left-group,
.right-group {
  display:flex;
}

.header-button {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 3px;
  justify-content: center;
}

.header-button + .header-button { margin-left: 8px; }

.header-md {
  width: 30px;
}

.user-badge {
  border-radius: 100%;
  background: #f3f3f3;
  color: black;
}

.search-input {
  width: 180px;
  background-color: inherit;
  height: 100%;
  border: none;
  padding-left: 5px;
}

.search-input:focus {
  width: 300px;
  transition: width 300ms ease;
  outline: none;
}

.icon-magnifier {

}

.logo {
  height: 30px;
  width: 80px;
  position: relative;
  top: 5px;
}

.logo-icon {
  display: block;
  background: url('https://a.trellocdn.com/images/01ef898811a879595cea8ac3cd77a155/header-logo-2x.png') no-repeat;
  background-size: 80px 30px;
  width: 100%;
  height: 100%;
}

/* Board overview */

.board-overview {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.board-overview .left-group {
  align-items: baseline;
}

.board-title {
  font-weight: bold;
  margin-right: 8px;
  padding: 4px 8px
}

/* Board content */

.lists,
.add-list {
  display: inline-block;
}

.list-view.dragging.gu-transit {
  background: rgba(0,0,0,.6);
  font-size: 0;
  line-height: 14px;
}

.list-view.dragging.gu-transit .card {
  background: transparent;
}

.list-view.dragging.gu-mirror {
  transform: rotate(3deg);
}

.add-list {
  background: #026AA7;
  border: none;
  border-radius: 3px;
  color: rgba(255,255,255,.7);
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
  width: 270px;
}

.new-list-modal {
  background: rgb(226, 228, 230);
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  vertical-align: top;
  width: 270px;
}

.new-list-input {
  background: rgba(0,0,0,.05);
  border-radius: 3px;
  outline: none;
  padding: 8px;
  width: 100%;
}

/* List */

.board-content {
  padding: 0 8px;
  white-space: nowrap;
}

.list-view {
  background: rgb(226, 228, 230);
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 8px 10px;
  width: 270px;
}

.list-title {
  font-weight: bold;
  padding-bottom: 8px;
}

.add-card {
  color: #838c91;
}

/* Cards */

.card-title,
.card-title-edit {
  padding: 5px;
}

.card-title {
  width: 100%;
}

.cards-view {
  padding-bottom: 12px;
}

.editing-card { position: relative; }

.card {
  background: white;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 4px 5px;
}

.card.dragging.gu-mirror {
  transform: rotate(3deg);
}

.card.dragging.gu-transit {
  background-color: darkgrey;
  opacity: .9;
  font-size: 0;
  line-height: 14px;
}

/* New Card Modal */

.new-card-textarea {
  border-radius: 3px;
  outline: none;
  width: 100%;
}

/* Card Detail */

.card-detail-container {
  position: fixed;
}

.card-title-section {
  font-size: 0;
  margin-bottom: 20px;
}

.spacer-column {
  display: inline-block;
  width: 8%;
  vertical-align: top;
}

.card-title-image {
  font-size: 20px;
}

.card-title-image i {
  vertical-align: top;
}

.card-title-textarea-detail {
  background-color: inherit;
  font-size: 18px;
}

.card-title-textarea-detail:focus {
  background-color: white;
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.card-detail {
  background: rgb(226, 228, 230);
  padding: 12px 14px;
  position: relative;
}

.card-detail-container {
  left: 50%;
  margin-left: -250px;
  position: fixed;
  width: 500px;
}

.card-close {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 22px;
}

.card-description,
.card-description-label {
  display: inline-block;
}

.card-description-label-container {
  margin-bottom: 10px;
}

.card-description-label span {
  color: grey;
}

/* Card Edit Description View*/

.card-description-section {
  padding-bottom: 16px;
}

.card-add-description,
.card-edit-description {
  padding-left: 4px;
  text-decoration: underline;
  color: grey;
  width: 100%
}

.card-edit-description-container {
  display: inline-block;
}

.card-edit-description-container-textarea {
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 8px;
  outline: none;
}

/* Card Edit Title View */

.card-edit-container {
  position: absolute;
  left: 0;
  top: 0;
}

.card-edit-title-form {
  position: fixed;
}

.card-edit-textarea {
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 4px 5px;
}

/* Buttons */

.button {
  border: none;
}

.button-confirm {
  background: #5AAC44;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}

.button-cancel {
  background: inherit;
  font-size: 22px;
}
